<body>
  <div class="card margin-30 animated fadeIn text-center">
	  <h3 class="card-header">Disponibilidad Horaria de Profesores</h3>
	  <div class="card-block animated fadeIn fast" >
	    <a href="#" class="btn btn-outline-primary btn-margin">Nuevo Profesor</a>
			<a href="#" class="btn btn-outline-info btn-margin">Ver Disponibilidad</a>
			<a href="#" class="btn btn-outline-success btn-margin">Modificar Disponibilidad</a>
			<a href="#" class="btn btn-outline-danger btn-margin">Eliminar Profesor</a>
	  </div>
	</div>
</body>
