<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lista de Salas</title>
  </head>
  <body>
    <h1 class="margin-30">Lista de Salas</h1>

    <div class="row animated fadeIn fast">
      <div class="col-md-12">

        <div class="table-responsive">

          <table class="table">
            <thead class="thead-inverse">
              <tr>
                <th class="w-5 text-center">#</th>
                <th class="text-center">Nombre de Sala</th>
                <th class="text-center">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let k of salas | keys; let i = index">
                <td class="text-center">{{ i + 1 }}</td>
                <td class="text-center">{{ salas[k].nombre }}</td>
                <td class="text-center">
                  <button [routerLink]="['/sala', k]"
                          type="button" class="btn btn-outline-primary">
                    Ver Horario
                  </button>
                  <!-- <button (click)="borrarSala(k)"
                          type="button" class="btn btn-outline-danger">
                    Eliminar
                  </button> -->
                </td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="( salas | keys ).length === 0 && !loading"
                class="alert alert-info" role="alert">
            <strong>No hay</strong> registros que mostrar
          </div>

          <div *ngIf="loading"
                class="alert alert-warning" role="alert">
            <strong>Cargando...</strong> por favor espere
          </div>

        </div>

      </div>

    </div>
  </body>
</html>
