<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profesor</title>
  </head>
  <body>
    <div class="row animated fadeIn fast">
      <div class="col-md-12">

        <form [formGroup]="formas" (ngSubmit)="guardar()" #forma="ngForm">
          <div>

            <!-- Tabla de horarios -->
            <div class="form-group">
            	<div class="card animated fadeIn card-info-margin card text-center">
            		<h3 class="card-header">Disponibilidad del profesor {{  profesor.nombre + " " + profesor.apellido  }}</h3>

                <div class="card-block">
                  <div class="form-group">
                    <div class="form-group row" [ngClass]="{ 'has-danger': (!formas.get('nombre').valid) && formas.get('nombre').touched }">
                      <label class="col-2 col-form-label">Nombre</label>
                      <div class="col-8">
                      <input [(ngModel)]="profesor.nombre"
                              name="nombre"
                              type="text"
                              class="form-control"
                              placeholder="Nombre del Profesor"
                              formControlName="nombre">
                      <div *ngIf="formas.controls['nombre'].errors?.required && formas.get('nombre').touched"
                          class="form-control-feedback">
                        El nombre es obligatorio.
                      </div>

                      <div *ngIf="formas.controls['nombre'].errors?.minlength"
                            class="form-control-feedback">
                        Por lo menos {{ formas.controls['nombre'].errors.minlength.requiredLength }} caracteres.
                      </div>
                    </div>
                  </div>

                </div>
                  <div class="form-group">
                    <!-- [disabled]="!formas.valid" -->
                    <button
                            type="submit"
                            class="btn btn-outline-primary">
                      Guardar
                    </button>
                    <button [routerLink]="'/profesores'"
                            class="btn btn-outline-danger">
                      Regresar
                    </button>
                  </div>
            			<table class="table table-bordered table-hover responsive" table>
                    <thead class="thead-inverse">
                      <tr>
                        <th style="text-align: center">Periodo</th>
                        <th style="text-align: center">Lunes</th>
                        <th style="text-align: center">Martes</th>
            						<th style="text-align: center">Jueves</th>
                        <th style="text-align: center">Miércoles</th>
            						<th style="text-align: center">Viernes</th>
            						<th style="text-align: center">Sábado</th>
                      </tr>
            				</thead>
            				<tbody>
            						<tr *ngFor="let periodo of periodos">
            							<td class="text-center">{{periodo+1}}</td>
                          <td [attr.id]="'0-' + periodo" [ngClass]="{'marcado': (getEstadoBloque('0-' + periodo)), 'noMarcado': !getEstadoBloque('0-' + periodo)}" (click)="changeEstadoBloque('0-' + periodo)"></td>
                          <td [attr.id]="'1-' + periodo" [ngClass]="{'marcado': (getEstadoBloque('1-' + periodo)), 'noMarcado': !getEstadoBloque('1-' + periodo)}" (click)="changeEstadoBloque('1-' + periodo)"></td>
                          <td [attr.id]="'2-' + periodo" [ngClass]="{'marcado': (getEstadoBloque('2-' + periodo)), 'noMarcado': !getEstadoBloque('2-' + periodo)}" (click)="changeEstadoBloque('2-' + periodo)"></td>
                          <td [attr.id]="'3-' + periodo" [ngClass]="{'marcado': (getEstadoBloque('3-' + periodo)), 'noMarcado': !getEstadoBloque('3-' + periodo)}" (click)="changeEstadoBloque('3-' + periodo)"></td>
                          <td [attr.id]="'4-' + periodo" [ngClass]="{'marcado': (getEstadoBloque('4-' + periodo)), 'noMarcado': !getEstadoBloque('4-' + periodo)}" (click)="changeEstadoBloque('4-' + periodo)"></td>
                          <td [attr.id]="'5-' + periodo" [ngClass]="{'marcado': (getEstadoBloque('5-' + periodo)), 'noMarcado': !getEstadoBloque('5-' + periodo)}" (click)="changeEstadoBloque('5-' + periodo)"></td>
            						<tr>
                        <tr>
                          <th class="text-center">Opciones</th>
                          <th *ngFor="let dia of dias" class="text-center">
                            <button (click)="completarDia(dia,true)"
                                    type="button"
                                    class="btn btn-primary btn-sm">
                              Llenar día
                            </button>
                            <button (click)="completarDia(dia,false)"
                                    type="button"
                                    class="btn btn-secondary btn-sm">
                              Vaciar día
                            </button>
                          </th>
                        </tr>
            				</tbody>
            			</table>
            		</div>
            	</div>
            </div>


          </div>
        </form>
      </div>

    </div>

  </body>
</html>
