<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profesor</title>
  </head>
  <body>
    <h3 class="margin-30">Profesor: <small>{{ profesor.nombre + " " + profesor.apellido }}</small></h3>
    <button [routerLink]="'/profesores'"
            class="btn btn-outline-danger">
      Regresar
    </button>
    <button  (click)="agregarNuevo(forma)"
            type="button"
            class="btn btn-outline-success">
      Nuevo Profesor
    </button>
    <hr>

    <div class="row animated fadeIn fast">
      <div class="col-md-12">

        <form (ngSubmit)="guardar()" #forma="ngForm">

          <div class="form-group">
            <label>Nombre</label>
            <input [(ngModel)]="profesor.nombre"
                    name="nombre"
                    type="text"
                    class="form-control"
                    placeholder="Nombre del Profesor"
                    required>
          </div>

          <div class="form-group">
            <label>Apellido</label>
            <input [(ngModel)]="profesor.apellido"
                    name="apellido"
                    type="text"
                    class="form-control"
                    placeholder="Apellido del Profesor"
                    required>
          </div>

          <div class="form-group">
            <label>E-mail</label>
            <input [(ngModel)]="profesor.email"
                    name="email"
                    type="email"
                    class="form-control"
                    placeholder="E-mail del Profesor"
                    required>
          </div>

          <div class="form-group">
            <label>RUT</label>
            <input [(ngModel)]="profesor.rut"
                    name="rut"
                    type="number"
                    class="form-control"
                    placeholder="Rut del Profesor"
                    required>
          </div>

          <div class="form-group">
            <button [disabled]="!forma.valid"
                    type="submit"
                    class="btn btn-outline-primary">
              Guardar
            </button>
          </div>

        </form>

      </div>

    </div>

  </body>
</html>
