<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lista de Profesores</title>
  </head>
  <body>
    <h1 class="margin-30">Lista de Profesores</h1>

    <div class="row animated fadeIn fast">
      <div class="col-md-12">

        <div class="table-responsive card-info-margin">
          <table class="table results">
            <thead class="thead-inverse">
              <tr>
                <th class="w-5 text-center">#</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Rut</th>
                <th class="text-center">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let k of profesores | keys; let i = index">
                <td class="text-center">{{ i+1 }}</td>
                <td class="text-center">{{ profesores[k].nombres + " " + profesores[k].apellidos }}</td>
                <td class="text-center">{{ profesores[k].rut }}</td>
                <td class="text-center">
                  <button [routerLink]="['/profesor', profesores[k].id]"
                          type="button" class="btn btn-outline-primary">
                    Ver/Editar Disponibilidad
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="( profesores | keys ).length === 0 && !loading"
                class="alert alert-info" role="alert">
            <strong>No hay</strong> profesores registrados
          </div>

          <div *ngIf="loading"
                class="alert alert-warning" role="alert">
            <strong>Cargando...</strong> por favor espere
          </div>

        </div>

      </div>

    </div>
  </body>
</html>
