<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CRUD Profesores</title>
  </head>
  <body>
    <h1 class="margin-30">CRUD Profesores</h1>
    <hr>

    <div class="row">
      <div class="col-md-12 text-right">
        <button [routerLink]="['/profesor','nuevo']"
                class="btn btn-outline-success margin-30-bottom"
                type="button" name="button">
          Nuevo Profesor
        </button>
      </div>
      <br>

    </div>

    <div class="row animated fadeIn fast">
      <div class="col-md-12">

        <div class="table-responsive">

          <table class="table">
            <thead class="thead-inverse">
              <tr>
                <th class="w-5 text-center">#</th>
                <th class="w-20 text-center">Nombre</th>
                <th class="w-20 text-center">Rut</th>
                <th class="w-20 text-center">Username</th>
                <th class="w-35 text-center">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let k of profesores | keys; let i = index">
                <td class="text-center">{{ profesores[k].id }}</td>
                <td class="text-center">{{ profesores[k].name + " " + profesores[k].apellido }}</td>
                <td class="text-center">{{ profesores[k].rut }}</td>
                <td class="text-center">{{ profesores[k].username }}</td>
                <td class="text-center">
                  <button [routerLink]="['/profesor', k]"
                          type="button" class="btn btn-outline-info">
                    Ver
                  </button>
                  <button [routerLink]="['/profesor', k]"
                          type="button" class="btn btn-outline-primary">
                    Editar
                  </button>
                  <button (click)="borrarProfesor(1)"
                          type="button" class="btn btn-outline-danger">
                    Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="( profesores | keys ).length === 0 && !loading"
                class="alert alert-info" role="alert">
            <strong>No hay</strong> profesores registrados
          </div>

          <div *ngIf="loading"
                class="alert alert-warning" role="alert">
            <strong>Cargando...</strong> por favor espere
          </div>

        </div>

      </div>

    </div>
  </body>
</html>
