.card-info-margin{
  margin-bottom: 15px;
}

.marcado{
  background-color: #5FFF38;
}

.noMarcado{
  background-color: #FA4A4A;
}

.w-5{
  width: 5%;
}

.w-20{
  width: 20%;
}

.w-35{
  width: 35%;
}
