<body>
  <!-- Select -->
  <div class="card margin-30 animated fadeIn fast">
    <h3 class="card-header">Buscar horario:</h3>
    <div class="card-block" >
      <div class="btn-margin">
        <select class="selectpicker" multiple title="Escoga una opción">
          <option>Salas</option>
          <option>Profesores</option>
        </select>
      </div>
      <div class="btn-margin">
        <select class="selectpicker" data-live-search="true" multiple title="Escoga una opción">
          <option>Lista profesor</option>
          <option data-divider="true">Lista Salas</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Tabla de horarios -->
	<div class="card text-center animated fadeIn margin-30-bottom">
		<h3 class="card-header">Horario de *NOMBRE*</h3>
		<div class="card-block">
			<table id="example2" class="table table-bordered table-hover" table>
        <thead class="thead-inverse">
          <tr>
            <th style="text-align: center">Periodo</th>
            <th style="text-align: center">Lunes</th>
            <th style="text-align: center">Martes</th>
						<th style="text-align: center">Jueves</th>
            <th style="text-align: center">Miércoles</th>
						<th style="text-align: center">Viernes</th>
						<th style="text-align: center">Sábado</th>
          </tr>
				</thead>
				<tbody>
						<tr *ngFor="let periodo of periodos">
							<td>{{periodo+1}}</td>
              <td [attr.id]="'0-' + periodo" [ngClass]="{'marcado': (getEstadoBloque('0-' + periodo)), 'noMarcado': !getEstadoBloque('0-' + periodo)}" (click)="changeEstadoBloque('0-' + periodo)"></td>
              <td [attr.id]="'1-' + periodo" [ngClass]="{'marcado': (getEstadoBloque('1-' + periodo)), 'noMarcado': !getEstadoBloque('1-' + periodo)}" (click)="changeEstadoBloque('1-' + periodo)"></td>
              <td [attr.id]="'2-' + periodo" [ngClass]="{'marcado': (getEstadoBloque('2-' + periodo)), 'noMarcado': !getEstadoBloque('2-' + periodo)}" (click)="changeEstadoBloque('2-' + periodo)"></td>
              <td [attr.id]="'3-' + periodo" [ngClass]="{'marcado': (getEstadoBloque('3-' + periodo)), 'noMarcado': !getEstadoBloque('3-' + periodo)}" (click)="changeEstadoBloque('3-' + periodo)"></td>
              <td [attr.id]="'4-' + periodo" [ngClass]="{'marcado': (getEstadoBloque('4-' + periodo)), 'noMarcado': !getEstadoBloque('4-' + periodo)}" (click)="changeEstadoBloque('4-' + periodo)"></td>
              <td [attr.id]="'5-' + periodo" [ngClass]="{'marcado': (getEstadoBloque('5-' + periodo)), 'noMarcado': !getEstadoBloque('5-' + periodo)}" (click)="changeEstadoBloque('5-' + periodo)"></td>
						<tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
